<form (ngSubmit)="onSubmit()">
  <h1>Search for a car</h1>
  <mat-form-field>
    <mat-label>Make:</mat-label>
    <mat-select id="make" [(value)]="make">
      <mat-option value="Chevy">Chevy</mat-option>
      <mat-option value="toyota">Toyota</mat-option>
      <mat-option value="mercedes">Mercedes</mat-option>
      <mat-option value="ford">Ford</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Year:</mat-label>
    <mat-select id="year" [(value)]="year">
      <mat-option value="2012">2012</mat-option>
      <mat-option value="2013">2013</mat-option>
      <mat-option value="2014">2014</mat-option>
      <mat-option value="2015">2015</mat-option>
      <mat-option value="2016">2016</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price:</mat-label>
    <mat-select id="price" [(value)]="price">
      <mat-option value="16106">16106</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Color:</mat-label>
    <mat-select id="color" [(value)]="color">
      <mat-option value="Gray">Gray</mat-option>
      <mat-option value="red">Red</mat-option>
      <mat-option value="white">White</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <input type="checkbox" id="sunRoof" name="sunRoof" [(ngModel)]="sunRoof">Sun roof:<br>
  </div>
  <div>
    <mat-checkbox labelPosition="before" name="fourWheel" [(ngModel)]="fourWheel">Four wheel drive:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox labelPosition="before" name="lowMiles" [(ngModel)]="lowMiles">Low miles:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox labelPosition="before" name="powerWindows" [(ngModel)]="powerWindows">Power windows:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox labelPosition="before" name="navigation" [(ngModel)]="navigation">Navigation:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox labelPosition="before" name="heatedSeats" [(ngModel)]="heatedSeats">Heated seats:</mat-checkbox>
  </div>
  <div>
    <button mat-raised-button type="submit">Submit</button>
  </div>
</form>
