<form (ngSubmit)="onSubmit">
  <h1>Search for a car</h1>
  <mat-form-field>
    <mat-label>Make:</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="chevy">Chevy</mat-option>
      <mat-option value="toyota">Toyota</mat-option>
      <mat-option value="mercedes">Mercedes</mat-option>
      <mat-option value="ford">Ford</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Year:</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="2012">2012</mat-option>
      <mat-option value="2013">2013</mat-option>
      <mat-option value="2014">2014</mat-option>
      <mat-option value="2015">2015</mat-option>
      <mat-option value="2016">2016</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Color:</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="blue">Blue</mat-option>
      <mat-option value="red">Red</mat-option>
      <mat-option value="white">White</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <mat-checkbox id="trans" labelPosition="before">Automatic Transmission:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox id="sunroof" labelPosition="before">Sun roof:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox id="4wheel" labelPosition="before">Four wheel drive:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox id="miles" labelPosition="before">Low miles:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox id="windows" labelPosition="before">Power windows:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox id="nav" labelPosition="before">Navigation:</mat-checkbox>
  </div>
  <div>
    <mat-checkbox id="seats" labelPosition="before">Heated seats:</mat-checkbox>
  </div>
  <div>
    <button mat-raised-button>Submit</button>
  </div>
</form>
