<form>
  <div>
    <label for="make">Make:</label>
    <select id="make">
      <option value="chevy">Chevy</option>
      <option value="toyota">Toyota</option>
      <option value="mercedes">Mercedes</option>
      <option value="ford">Ford</option>
    </select>
  </div>
  <div>
    <label for="year">Year:</label>
    <select id="year">
      <option value="2012">2012</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
    </select>
  </div>
  <div>
    <label for="color">Color:</label>
    <select id="color">
      <option value="blue">Blue</option>
      <option value="red">Red</option>
      <option value="white">White</option>
    </select>
  </div>
  <div>
    <label for="trans">Automatic Transmission:</label>
    <input id="trans" type="checkbox">
  </div>
  <div>
    <label for="sunroof">Sun Roof:</label>
    <input id="sunroof" type="checkbox">
  </div>
  <div>
    <label for="4wheel">4 Wheel Drive:</label>
    <input id="4wheel" type="checkbox">
  </div>
  <div>
    <label for="miles">Low Miles:</label>
    <input id="miles" type="checkbox">
  </div>
  <div>
    <label for="windows">Power Windows:</label>
    <input id="windows" type="checkbox">
  </div>
  <div>
    <label for="nav">Navigation:</label>
    <input id="nav" type="checkbox">
  </div>
  <div>
    <label for="seats">Heated Seats:</label>
    <input id="seats" type="checkbox">
  </div>
</form>
